.darkBG{
	background: #999;
}

.darkerBG{
	background: #666;
}

.darkestBG{
	background: #333;
}

.search-container{
	text-align: center;
	vertical-align: middle;
}

.search{
	display: inline-block;
}

.h1-container{
	text-align: center;
}

.h1{
	margin: 0;
	display: inline;
	padding: 15px 15px 15px 15px;
}

.take-attendence-container{
	text-align: center;
	vertical-align: middle;
}

.take-attendence{
	display: inline-block;
	margin: 15px;
}

/*.list-container{
	display: inline-block;
	margin: 15px;
}*/

body {
	margin: 0;
}

header{
	background: #999;
	color: white;
	margin: 0;
	padding: 0px 0px 0px 0px;
}

/*header h1{
	margin: 0;
	display: inline;
	padding: 15px 15px 0px 15px;
}
*/
nav ul{
	margin: 0;
	padding: 0 0 0 15px;
	display: inline;
	text-align: left;
}

nav ul li {
	background: black;
	color: white;
	display: inline-block;
	list-style-type: none;
	padding: 5px 15px;
	margin: 0;
}

nav ul li a{
	color: white;
}

nav h1{
	text-align: center;
	display: inline;
}

footer{
	clear: both;
}